/* 设置欢迎 模块样式， 头像和  欢迎 xxx */

.userinfo {
    width: 200px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 12px;
    user-select: none;
}

.layui-side-scroll .userinfo {
    border-bottom: 1px solid #282b33;
}


/* 设置layui字体图标  */

.iconfont,
.layui-icon {
    margin-right: 6px;
    font-size: 16px;
    font-style: normal;
}


/* iframe默认的是一小块区域，设置宽度高度均为100% */

iframe {
    width: 100%;
    height: 100%;
}


/* 将多余的滚动条隐藏 */

.layui-body {
    overflow: hidden;
}


/*  设置头像的大小 */

.layui-nav-img {
    width: 40px;
    height: 40px;
}


/*   设置文本头像 */

.text-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    background-color: #009688;
    color: #fff;
    /* 此文本头像和layui-nav-img类中的图片基于中线对齐 */
    vertical-align: middle;
    margin-right: 5px;
}